# Auto detect text files and perform LF normalization
* text=auto
*.txt text eol=lf
*.sh text eol=lf
*.prop text eol=lf
ReduceMIUI/META-INF/com/google/android/update-binary text eol=lf
ReduceMIUI/META-INF/com/google/android/update-script text eol=lf

*.txt text
# 对于.txt文件，标记为文本文件，并进行行尾规范化。

*.jpg -text
# 对于`.jpg`文件，标记为非文本文件

*.vcproj text eol=crlf
# 对于.vcproj文件，标记为文本文件，在文件入Git库时进行规范化，行尾转换为LF。在检测到出工作目录时，行尾自动转换为GRLF。

*.sh text eol=lf
# 对于sh文件，标记为文本文件，在文件入Git库时进行规范化，即行尾为LF。在检出到工作目录时，行尾也不会转换为CRLF（即保持LF）。

*.py eol=lf
# 对于py文件，只针对工作目录中的文件，行尾为LF。
